<%- include("partials/header") %>

<body class="bg-black text-white">

<div class="max-w-6xl mx-auto p-4">

<h1 class="text-3xl font-bold text-center mb-4">
🏏 Live Cricket Streaming
</h1>

<div id="container" class="w-full aspect-video bg-black rounded-xl overflow-hidden">

<video
id="video"
class="w-full h-full"
autoplay
muted
playsinline
></video>

</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/shaka-player@4.16.2/dist/shaka-player.ui.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shaka-player@4.16.2/dist/controls.css"/>

<script>

const CONFIG = {

streamUrl : "<%= streamUrl %>",
keyId : "<%= keyId %>",
key : "<%= key %>",
cookieUrl : "<%= cookieUrl %>"

}

document.addEventListener("DOMContentLoaded", async () => {

shaka.polyfill.installAll()

if(!shaka.Player.isBrowserSupported()){
alert("Browser not supported")
return
}

const video = document.getElementById("video")

const player = new shaka.Player()

await player.attach(video)

/* PLAYER CONFIG */

player.configure({

drm:{
clearKeys:{
[CONFIG.keyId]:CONFIG.key
}
},

manifest:{
defaultPresentationDelay:5
},

streaming:{
lowLatencyMode:true,
bufferingGoal:10,
rebufferingGoal:2,
safeSeekOffset:5
},

abr:{
enabled:true,
defaultBandwidthEstimate:1500000
}

})


/* PLAYER UI */

const ui = new shaka.ui.Overlay(

player,
document.getElementById("container"),
video

)

ui.configure({

addBigPlayButton:true,

controlPanelElements:[
"play_pause",
"time_and_duration",
"spacer",
"mute",
"volume",
"quality",
"picture_in_picture",
"fullscreen"
]

})


/* COOKIE SYSTEM */

let cookieValue=""

async function loadCookie(){

try{

const res = await fetch(CONFIG.cookieUrl,{cache:"no-store"})

const data = await res.json()

cookieValue = data.cookie || ""

}catch(e){

console.log("cookie load error")

}

}

await loadCookie()

setInterval(loadCookie,300000)



/* REQUEST HEADERS */

player.getNetworkingEngine().registerRequestFilter((type,request)=>{

request.headers["Referer"]="https://www.jiotv.com/"

request.headers["User-Agent"]="plaYtv/7.1.5 (Linux;Android 13) ExoPlayerLib/2.11.6"

if(cookieValue){

request.headers["Cookie"]=cookieValue

let urlCookie=cookieValue.startsWith("__hdnea__=")
?cookieValue.substring(10)
:cookieValue

if(
(type===shaka.net.NetworkingEngine.RequestType.MANIFEST ||
type===shaka.net.NetworkingEngine.RequestType.SEGMENT)
&&
!request.uris[0].includes("__hdnea__")
){

const sep=request.uris[0].includes("?")?"&":"?"

request.uris[0]+=sep+"__hdnea__="+urlCookie

}

}

})



/* STREAM START */

let retryTimer=null

async function startStream(){

try{

console.log("Loading stream...")

await player.load(CONFIG.streamUrl)

video.play().catch(()=>{})

console.log("Stream started")

if(retryTimer){

clearInterval(retryTimer)

retryTimer=null

}

}catch(e){

console.log("Stream error")

if(!retryTimer){

retryTimer=setInterval(async()=>{

try{

await player.load(CONFIG.streamUrl)

video.play().catch(()=>{})

console.log("Stream recovered")

clearInterval(retryTimer)

retryTimer=null

}catch(err){

console.log("Retrying...")

}

},5000)

}

}

}



player.addEventListener("error",()=>{

console.log("Player error restarting stream")

startStream()

})



startStream()

})

</script>

</body>
</html>